{
    "extends": "airbnb",
    "parser": "babel-eslint",
        "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "settings": {
      "import/resolver": { "meteor": {"extensions": [".js", ".jsx"]} }
    },
    "rules": {
        "import/no-extraneous-dependencies": "off",
        "import/extensions": "off",
        "jsx-a11y/href-no-hash": [ 0 ],
        "max-len": 0,
        "prefer-arrow-callback": 0,
        "no-underscore-dangle": 0,
        "no-restricted-syntax": [2, "WithStatement"],
        "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
        "indent": [2, 4, {
            "SwitchCase": 1,
            "VariableDeclarator": 1,
            "outerIIFEBody": 1,
            "FunctionDeclaration": {
              "parameters": 2,
              "body": 1
            },
            "FunctionExpression": {
              "parameters": 2,
              "body": 1
            }
        }]
    }
}
